html,
body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.counter_container {
    width: 410px;
    height: 508px;
    background-image: url(img/counter_layout.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.counter {
    font-size: 71px;
    text-align: right;
    width: 275px;
    margin: 113px auto 0px auto;
    background-color: transparent;
    text-shadow: 0px 0px 10px darkgrey;
}

.reset {
    width: 100px;
    height: 70px;
    background: transparent;
    border: 0px;
    margin-top: 46px;
    margin-left: 225px;
}

.increase {
    width: 250px;
    height: 185px;
    background: transparent;
    border: 0;
}

.version {
    position: fixed;
    bottom: 0;
    right: 0;
    color: darkgrey;
    margin: 10px;
}